.app{
  text-align: center;
  margin: auto;
  height: 100vh;
}
.row{
  display: flex;
  text-align: center;
  margin: auto;
}
.input{
  height: 50px;
  width: 300px;
  text-align: right;
  font-size:xxx-large;
  color: white;
  background-color: black;
  border: none;
}
.cal{
  border: 1px solid black;
    width: 22%;
    padding: 1rem;
    margin: auto;
    background-color: black;
}
